body {
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
    text-decoration: underline gray solid;
    margin-top: 20px;
    margin-bottom: 50px;
}

.footer {
    position: fixed;
    bottom: 0px;
    background-color: #F4F8FB;
    width: 100%;
    height: 100px;
    
}

