div{
	text-transform: uppercase;
	border: 1px solid black;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 50px;
}

.logo-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.login-button-container {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.login-button {
    height: 50px;
    width: 100px;
    border-color: transparent;
}

.login-button:hover {
    background-color: orange;
    color: white;
}

.banner{
	text-align: center;
	height: 40px;
	margin-bottom: 30px;
	line-height: 40px;
}

.tasks{
	display: flex;
	margin-bottom: 50px;
	border: none;
}

.task{
	width: 140px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	margin-right: 130px;
}

footer .top{
	height: 25px;
	line-height: 25px;
	text-align: center;
}

footer .bottom{
	height: 100px;
	line-height: 100px;
	text-align: center;
}

/*7*/

.container{
	border:none;
	margin-bottom: 50px;
}

.two-divs{
	width: 100%;
	display: inline-flex;
	border: none;
}

.two-divs .first-div{
	width: 220px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.two-divs .second-div{
	width: 100%;
	line-height: 50px;
	text-align: center;
}

.two-divs .content, .right-divs .content{
	height: 500px;
	line-height: 300px;
	width: 100%;
	text-align: center;
}

/*8*/

.container.inbox{
	display: flex;
}

.left-divs, .right-divs{
	border: none;
}

.left-div {
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

.right-divs{
	width: 100%;
}

.right-div{
	height: 50px;
	text-align: center;
	line-height: 50px;
}
