body {
  min-width: 480px;
  padding: 30px;
}

body > div {
  /* min-width: 500px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
}

body > div > div {
  max-width: 1080px;
}

div {
  border: solid 2px black;
}

#top-container,
#middle-container,
#bottom-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

#bottom-container {
  justify-content: center;
}

#top-container > div {
  width: 190px;
}

#title {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#content {
  width: 100%;
  height: 300px;
  padding: 30px;
  margin-bottom: 50px;
}

#middle-container > div {
  width: 40%;
  min-width: 300px;
  min-height: 150px;
}

@media (max-width: 662px) {
  #middle-container {
    justify-content: center;
  }
}

#bottom-middle {
  width: 200px;
  height: 100px;
  margin-left: 0px;
  justify-self: center;
}
