.row {
  margin-bottom: 50px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: "Roboto", sans-serif;
}

.header-row {
  margin-bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.main-body {
  margin-top: 10px;
  padding: 30px;
  max-width: 1440px;
}

.alert {
  text-align: center;
}

.fixed-top {
  z-index: 1;
}

#middle-container,
#bottom-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

#middle-container {
  justify-content: space-around;
}

.logo {
  margin-left: 50px;
}

.logo-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.login-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  max-width: 150px;
}

.login-button {
  height: 50px;
  width: 100px;
  border-color: transparent;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #6347ff;
  color: white;
}

@media (max-width: 425px) {
  .logo > img {
    width: 150px;
    height: 150px;
  }

  .logo {
    margin-left: 0px;
  }

  .login-button-container {
    margin-right: 0px;
  }

  .login-button-container div:nth-child(2) {
    font-size: 12px;
  }
}

/* user logo for side navbar */
.user-profile-img {
  width: auto;
  height: 100%;
}

.user-profile-button {
  background-color: rgb(231, 230, 230);
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  height: 45px;
  width: 45px;
  border-radius: 22px;
  margin-bottom: 5px;
  overflow: hidden;
}

.user-profile-button:hover {
  background-color: rgb(182, 180, 180);
  color: white;
}

/* navbar css */
.navbar {
  background: linear-gradient(
    45deg,
    rgb(255, 0, 0),
    rgb(60, 0, 255)
  ) !important;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

/* main part css*/
.title-container,
.content-container,
.info-container {
  border: 5px solid #ddd;
  border-image: linear-gradient(red, orange) 30 30;
}

#title {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  border: none;
}

#image {
  display: flex;
  justify-content: center;
}

#content {
  display: flex;
  width: 100%;
  height: 300px;
  border: none;
  justify-content: center;
  align-items: center;
  word-break: break-word;
}

#middle-container > div {
  /* width: 40%; */
  min-width: 250px;
  min-height: 150px;
}

@media (max-width: 662px) {
  #middle-container {
    justify-content: center;
  }
}

/* bottom row css*/
.bottom-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bottom-container {
  justify-content: center;
  border: none;
}

#bottom-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-left: 0px;
  justify-self: center;
  align-self: center;
  min-width: 150px;
  border-radius: 4px;
}

#bottom-middle > input {
  background-color: tomato;
  width: 80%;
  height: 100%;
  border-color: transparent;
  border-radius: 10px;
  color: white;
  transition: 0.3s;
}

#bottom-middle > input:hover {
  background-color: #6347ff;
}

/* hide applicant-list at default */
#applicant-list-container {
  display: none;
}

/* fulfill message if creator accepted result*/
#fulfilled-message {
  background-color: #28a745;
  border-radius: 4px;
  padding: 15px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

/* accept and reject button for task creator */
#files-acceptance-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#files-acceptance-button-container > button {
  margin: 10px;
}

.edit,
.delete {
  background: #fe3d20;
  width: 150px;
  text-align: center;
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.edit:hover,
.delete:hover {
  background: #df1f01;
}

/* submit file button for accepted applicant */
#submit-completed-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
}

#submit-completed-task > label > input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#submit-completed-task > * {
  margin: 10px;
}

#submit-completed-task > div > #submit {
  width: 200px;
  height: 50px;
  background-color: tomato;
  border-color: transparent;
  border-radius: 4px;
  color: white;
  transition: 0.3s;
}

#submit-completed-task > div > #submit:hover {
  background-color: #6347ff;
}

/* side navbar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* side navbar */
.sidenav a {
  padding: 8x 32x 8x 8px;
  margin-left: 30px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-bottom: 20px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
  margin-left: 0;
}

/* create task css */
.create-title-container,
.create-content-container,
.create-info-container {
  border: 5px solid #ddd;
  border-image: linear-gradient(red, orange) 30 30;
  margin: 0px 30px;
  max-width: 1440px;
}

.create-body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.create-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 5px solid #ddd;
  border-image: linear-gradient(red, orange) 30 30;
  box-shadow: 0px 0px 23px -3px rgba(0, 0, 0, 0.19);
  padding: 50px;
}

#task-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720px;
}

#task-form > label {
  align-self: start;
}

#title_input,
#content_input {
  width: 100%;
}

#content_input {
  height: 300px;
}

#info {
  margin-top: 20px;
  text-transform: capitalize;
}

#detail {
  margin-top: 20px;
}

@media (min-width: 1080px) {
  #task-form {
    width: 1080px;
  }
}

@media (max-width: 800px) {
  #task-form {
    width: 480px;
  }
}

@media (max-width: 590px) {
  #task-form {
    width: 200px;
  }
}

#uploaded_container > p {
  text-align: center;
}

/* message bubble */
#message-login-container {
  display: flex;
}
#message-bubble-container {
  margin-right: 0px;
}

#message-bubble {
  position: relative;
  margin-top: 37px;
  width: 45px;
  height: 45px;
  border-radius: 23px;
  border: none;
}

#message-number-bubble {
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  border-radius: 10px;
  bottom: -3px;
  right: -3px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

@media (max-width: 425px) {
  #message-bubble {
    margin-top: 16px;
  }
}

.main-content > * {
  text-align: center;
}

.main-content {
  margin-top: 50px;
}

h3 {
  margin: 50px 0px;
}