body {
  min-width: 375px;
}

body > div {
  background-color: rgb(241, 241, 213);
  border-radius: 40px;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px;
}

div {
  display: flex;
  flex-wrap: wrap;
}

#display-amt {
  font-size: 25px;
}

i.fa-money-check-alt {
  color: gold;
  font-size: 120px;
  margin-top: 50px;
}

p {
  text-align: center;
}
